body {
    background-color: #976ab2;
    color: white;
    font-family: 'Dela Gothic One', cursive;
    margin: 0;
}
h2 {
    margin: 0;
}
h1 {
    margin: 0;
}
.wrapper {
    height: 3000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header {
    font-size: 25px;
    height: 100%;
    background-color: #723da4;
    padding-left: 23%;
}
.product {
    border-radius: 10px;
    background-color: #723da4;
}
#sidebar {
    display: block;
    background-color: #723da4;
    flex-direction: column;
    padding: 10px;
    width: 17%;
    white-space: nowrap;
    height: 100vh;
    position: fixed;
}
.sidebarHeader {
    text-align: center;
    background-color: #c49ce0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
}
.sidebarProducts {
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    height: 30%;
}
#sidebarIcon {
    height: 50px;
    width: 50px;
    cursor: pointer;
    rotate: 90deg;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    right: 0;
}
#sidebarTerritory {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: left 0.8s ease-in-out;
    left: 0;
    width: 25%;
}
.hideSidebar{
    transition: left 2s ease-out;
}
