body {
    background-color: #605160;
    color: white;
    font-family: 'Dela Gothic One', cursive;
    margin: 0;
}
h1 {
    margin: 0;
}
h3 {
    margin: 8px 0 10px 0;
}
hr {
    border-top: none;
    margin: 0;
}
p {
    margin: 10px 0;
}
#wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}
#products{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: start;
}
header {
    font-size: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.prods {
    width: fit-content;
    border-radius: 10px;
    padding: 0 2px;
    color: white;
}
#sidebarTerritory {
    display: flex;
    position: relative;
    flex-direction: row;
    transition: left 0.8s ease-in-out;
    left: 0;
    width: 278px;
}
#sidebar {
    display: block;
    background-color: #723da4;
    flex-direction: column;
    padding: 10px;
    width: 215px;
    white-space: nowrap;
    height: 100vh;
    position: sticky;
    top: 0;
    border-radius: 10px;
}
.sidebarHeader {
    text-align: center;
    background-color: #c49ce0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
}
.sepLine {
    border-top: #bdbbbb solid 2px;
    margin: 0;
}
#sidebarProducts {
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    max-height: 50%;
    width: 215px;
}
.sidebarElement {
    display: flex;
    flex-direction: column;
}
.sidebarElementInfo {
    display: flex;
    flex-direction: column;
    border-bottom: #bdbbbb solid 1px;
}
.amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.productNums {
    font-size: 23px;
}
.productPositionPrice {
    display: flex;
    flex-direction: row;
}
.sign {
    background-size: cover;
    width: 23px;
    height: 23px;
    cursor: pointer;
    background-position: center;
}
.plus {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD8AAAA/CAYAAABXXxDfAAABOklEQVRoge3b0W3CQBCE4VkqCB2RSqATm0pQKrHpIKkEdzB58N0DEhhL5G6d2/mekbw/GJBYDpC6SB5IDiRvnA0kj95zFUey43Od93zFkDwthGcH7zmLSLf3K0OteazWhQCAJFc8bDKzffFhsM14mFmVuXY1LrJVio9K8VEpPirFR6X4qBQfleKjUnxUio9K8dmDTcqfWjtUiWsnjzdDXN6ktKYD0k/XJE8ALu/dRP/OZ44fALS5JnpuzPGr348NmfIH3uQ6ho+PHP/tOoaPa44/u47h47IDADMbEesJOJvZ1902NH3lHdHmJ/8E4AdAn15srajDUnxUio9K8VEpPirFR6X4qBQfleKjUnxUiq9oU5uh2vFrNkPX4lN44Pznh1faPVZKsl8I773nK47zsdJ8uvJGcqTDMdJfrqO0Zs314usAAAAASUVORK5CYII=");
}
.minus {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAALCAYAAAAndj5aAAAAiElEQVRIieXWwQ3CMBBE0T+uIKVQQqiEdBJSSUglMR1AJ+5guACiARgJv5Pl07dWshY6pdfB9gjMwAEYYkXfU4GLpO19Y3t2P2YA2Z6ANTSFlKNs78CYLvmxKttOVwS0ArR0RcBQgFu6IuBagCVdEbAWSZW+Hr9I2j4XmAk48Z8/fAPuwPk5aB5j4g8snESafQAAAABJRU5ErkJggg==");
}

.totalPrice{
    display: flex;
    flex-direction: column;
}
#sidebarIcon {
    height: 50px;
    width: 50px;
    cursor: pointer;
    rotate: 90deg;
    transition: all 1s ease;
    position: sticky;
    margin-top: 18px;
    top: 18px;
}
#buyButton {
    background-color: white;
    font-family: 'Dela Gothic One', cursive;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin: 18.7px 0;
}
#buyButton:hover {
    background-color: #cbc7c7;
}
.product {
    margin: 10px;
    height: 500px;
    max-width: 470px;
    background-color: #723da4;
    border-radius: 10px;
}
.productInfo {
    height: fit-content;
    border-radius: 0 0 10px 10px;
    background-color: #723da4;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.productFrame {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 80%;
    max-height: 200px;
}
.productImg {
    border-radius: 10px 10px 0 0;
    height: 199.16px;
}
.productTitleBlock {
    margin: 5px 0;
}
.productTitle {
    text-align: center;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 54px;
}
.productDescr {
    margin-bottom: 0;
    text-align: center;
    padding: 0 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 72.5px
}
.productPrice {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 15px;
}
.productRating {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 17px;
}
.productCategory {
    position: relative;
    left: 17px;
}
.productButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Dela Gothic One', cursive;
    font-size: 25px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: #c49ce0;
    height: 71px;
    border: none;
}
.productButton:hover {
    background-color: #ac8bc7;
}