body {
    background-color: #976ab2;
    color: white;
}
.wrapper {
    margin: 0 5% 0 20%;
}
header {
    font-family: 'Dela Gothic One', cursive;
    font-size: 25px;
    height: 100%;
}
.sidebar {
    display: flex;
    background-color: #723da4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 16%;
    margin: 0 2% 0 2%;
}
.sidebarHeader {
    background-color: #d8a3fa;
    border-radius: 10px;
    text-align: center;
}